.button_container {
    display: flex;
    justify-content: space-between;
}
.detailbill {
  .detailbill_header {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
}
.IdBill_content {
  font-size: 12px;
  padding: 0 20px;
  margin-bottom: 4px;
}
.showdetail {
    .button {
        padding: 6px 18px 6px 18px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        color: #00c337;
        transition: all 1000ms;
        font-size: 10px;
        position: relative;
        overflow: hidden;
        outline: 2px solid #00c337;
      }
      
      button:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #70bdca;
        box-shadow: 4px 5px 17px -4px #00da3a;
      }
      
      button::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #00c337;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
      }
      
      button:hover::before {
        width: 250%;
      }
      
}
.delete {
    .button {
        padding: 6px 16px 6px 16px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        color: #ff0000;
        transition: all 1000ms;
        font-size: 10px;
        position: relative;
        overflow: hidden;
        outline: 2px solid #a90000;
      }
      
      button:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #a20b00;
        box-shadow: 4px 5px 17px -4px #690000;
      }
      
      button::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #a20101;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
      }
      
      button:hover::before {
        width: 250%;
      }
}
.ship{
  .button {
    padding: 6px 16px 6px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: #cdcd02;
    transition: all 1000ms;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #b7c404;
  }
  
  button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #a20b00;
    box-shadow: 4px 5px 17px -4px #690000;
  }
  
  button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #a20101;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  button:hover::before {
    width: 250%;
  }
}
.modal_shodetail-bill {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(1,1,1,0.3);
    z-index: 100;
}
.modal_shodetail-bill.open {
    display: flex;
}
.detailbill {
    width: 900px;
    height: 600px;
    background-color: aliceblue;
    animation: headerNotify ease-in 0.3s;
}
.button_bill {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.note_bill_content {
  width: 400px;
  height: 50px;
}
.note_bill_content-item{
  overflow-wrap: break-word; /* Tự động xuống hàng khi gặp ký tự dài */
  word-wrap: break-word; /* Duy trì tính tương thích với các trình duyệt cũ */
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background-color: #ffea8e;
}
.button_check {
 /* From Uiverse.io by thisSasha */ 
button {
  padding: 15px 25px;
  border: 0;
  border-radius: 15px;
  color: #fff;
  z-index: 1;
  background: #0ac500;
  position: relative;
  font-weight: 1000;
  font-size: 12px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

button:active {
  transform: scale(80%);
}

}
.location_container {
  display: flex;
  justify-content: center;
  cursor: pointer;
.loader {
  width: 24.8px;
  height: 24.8px;
  position: relative;
  transform: rotate(45deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 5.2px at 50% 50%,#0000 94%, #ff4747);
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
  

}
.note_bill {
  text-align: left;
  color: #555;
  padding-left: 40px;
}