.LoginAdmin_container {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0 120px;
}
.LoginAdmin_container_content {
    width: 500px;
    height: 500px;
/* From Uiverse.io by sameer2malik */ 
.container {
    display: flex;
    width: 520px;
    height: 500px;
    max-width: 99%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #ffffff25;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
    border: 0.1px solid rgba(128, 128, 128, 0.178);
  }
  
  .left {
    width: 66%;
    height: 100%;
  }
  
  .form {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    left: 0;
    backdrop-filter: blur(20px);
    position: relative;
  }
  
  .form::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 40%;
    right: 1%;
    z-index: -1;
    background: radial-gradient(
      circle,
      rgb(194, 13, 170) 20%,
      rgb(26, 186, 235) 60%,
  
      rgb(26, 186, 235) 100%
    );
    filter: blur(70px);
    border-radius: 50%;
  }
  
  .right {
    width: 34%;
    height: 100%;
  }
  
  .img {
    width: 100%;
    height: 100%;
  }
  
  .container::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    right: -40%;
    background: rgb(157, 173, 203);
    background: radial-gradient(
      circle,
      rgba(157, 173, 203, 1) 61%,
      rgba(99, 122, 159, 1) 100%
    );
    border-radius: 50%;
    z-index: -1;
  }
  
  .input,
  button {
    background: rgba(253, 253, 253, 0);
    outline: none;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 0.5rem;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    display: block;
    color: #425981;
    font-weight: 500;
    font-size: 1.1em;
  }
  
  .input-block {
    position: relative;
  }
  
  label {
    position: absolute;
    left: 15%;
    top: 37%;
    pointer-events: none;
    color: gray;
  }
  
  .forgot {
    display: block;
    margin: 5px 0 10px 0;
    margin-left: 35px;
    color: #5e7eb6;
    font-size: 0.9em;
  }
  
  .input:focus + label {
    transform: translateY(-160%) scale(1);
    transition: all 0.4s;
  }
  .input:valid + label {
    transform: translateY(-160%) scale(1);
    transition: all 0.4s;
  }
  
  button {
    background-color: #5e7eb6;
    color: white;
    font-size: medium;
    box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
  }
  
  a {
    color: #5e7eb6;
  }
  
  .input {
    box-shadow: inset 4px 4px 4px rgba(165, 163, 163, 0.315),
      4px 4px 4px rgba(218, 218, 218, 0.13);
  }
  
}
.header_body_card {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}
.header_body_card-grid {
    width: 100%;
    padding: 0 120px;
    height: 100%;
    display: flex;
}
.header_body_card-left {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58%;
    height: 100%;
}
.header_body_card-lef_content {
    display: flex;
    width: 50%;
    height: 70%;
}
.header_body_card-left_item {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.header_body_card-left_item h1 {
    border-left: 0.0625rem solid #0D0E12;
    color: #022460;
    font-size: 1.2vw;
    height: 3rem;
    font-weight: 200;
    line-height: 3rem;
    margin-bottom: 0.0625rem;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    text-transform: capitalize;
}
.header_body_card-left_item img {
    width: 100%;
    object-fit: cover;
}
.header_body_card-lef_content_admin {
    display: flex;
    align-items: center;
}
.header_body_card-lef_content_admin h1 {
    font-size: 2.3vw;
    color: #022460;
}
.chat_container-admin {
  position: fixed;
  cursor: pointer;
  opacity: 0;
  display: flex;
  padding: 6px;
  font-size: 18px;
  color: #990000;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  right: 30px;
  z-index: 1001;
  width: 100px;
  height: 48px;
  background-color: #fef6f5;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 20px 0 rgba(28, 28, 51, .16);
  border-radius: 4px 4px 0 0;
}
.massage_content {
  display: grid;
  border-radius: 6px;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 40px 1fr;
  position: fixed;
  bottom: 0;
  z-index: 1001;
  right: 30px;
  height: 502px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, .122);
  grid-template-areas:
  "header header"
  "sidebar body"
  ;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out, width .5s ease-in-out;
  will-change: opacity,transform,width;
  overflow: hidden;
}
.massage_content_header {
  padding: 10px;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
  display: flex;
  height: 40px;
  justify-content: space-between;
  grid-area: header;
}
.massage_content_header h2 {
  margin-bottom: 0;
  font-size: 16px;
  color: #990000;
  font-weight: 550;
}
.massage_content_header-icon {
  position: absolute;
  right: 10px;
  font-size: 16px;
  margin-bottom: 0;
  display: flex;
  gap: 10px;
}
.massage_content_sidebar {
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  grid-area: sidebar;
}
.massage_content_sidebar_find {
  display: flex;
  position: relative;
  column-gap: 10px;
  width: 100%;
  padding: 6px 10px;
}
.massage_content_sidebar_find-input {
  display: flex;
  gap: 7px;
  position: absolute;
  z-index: 2;
  align-items: center;
  width: 132px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-collapse: initial;
  border-radius: 4px;
  border-spacing: 0;
  font-size: 14px;
  outline: none;
  padding: 0 12px;
  transition: border .2s ease-in-out;
}
.massage_content_sidebar_find-input input {
  width: 100%;
  outline: none;
}
.massage_content_sidebar_find-filter {
  cursor: pointer;
  font-size: 14px;
  display: flex;
  position: relative;
  left: 70%;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 32px;
}
@keyframes filterChat{
  from{
      transform: scale(0);
      opacity: 0;
  }
  to{
      transform: scale(1);
      opacity: 1;
  }
}
.massage_content_sidebar_find-filter_list {
  position: absolute;
  display: none;
  z-index: 1000;
  right: 10px;
  top: 40px;
  width: 100px;
  font-size: 12px;
  color: #333;
  padding: 8px 0;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 4px;
  animation: filterChat ease-in 0.3s;
  transform-origin: top right;
  will-change: opacity,transform;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
}
.message_img_no {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message_img_no h2{
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
}
.message_img_no h3{
  color: #a1a1a1;
}
.massage_content_sidebar_find-filter_list li {
  color: #333;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  overflow: hidden;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  white-space: normal;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px 8px 20px ;
}
.massage_content_sidebar_find-filter_list li:hover {
  background-color: #f0f0f0;
}
.massage_content_sidebar_list {
    display: flex;
    position: relative;
    padding: 8px 10px;
    width: 224px;
    height: 62px;
    background: #fff;
    cursor: pointer;
}
.massage_content_sidebar_list_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.massage_content_sidebar_list-avt {
  display: flex;
  align-items: center;
  width: 34px;
}
.massage_content_sidebar_list-user {
  width: 114px;
  padding: 6px 0 6px 8px;
}
.massage_content_sidebar_list-user h2 {
  color: #333;
  font-family: Roboto, Droid Sans, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.massage_content_sidebar_list-user h3 {
  color: rgba(0, 0, 0, .8);
  margin: 4px 8px 0 0;
  color: #666;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.massage_content_sidebar_list-time {
  padding: 6px 0 6px 0;
  position: relative;
  width: 56px;
}
.massage_content_sidebar_list:hover {
  background-color: rgba(0, 0, 0, .04);
}
.massage_content_sidebar_list:hover .massage_content_sidebar_list_count {
  right: 40px;
  transition: right .3s ease-in-out;
}
.massage_content_body-content_status {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 18px;
  font-size: 10px;
  margin-bottom: 4px;
  height: 20px;
}
.massage_content_body-content_status span {
  display: flex;
  color: #fff;
  padding: 6px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 21%;
  background-color: rgba(0, 0, 0, .30);
}
.massage_content_sidebar_list_count {
  content: '1';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  color: #fff;
  position: absolute;
  bottom: 17px;
  right: 8px;
  background-color: #fb0000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  z-index: 100;
  transition: right .3s ease-in-out;

}
.massage_content_sidebar_list-time h3 {
  margin-bottom: 0;
  color: #666;
  font-size: 12px;
  line-height: 14px;
}
.massage_content_sidebar_list-time-icon {
  color: #666;
  position: absolute;
  bottom: 10px;
  right: 2px;
  height: 12px;
}
.massage_content_body {
  grid-area: body;
  transition: opacity .5s ease-in-out;
  will-change: opacity;
}
.massage_content_body-nav {
  position: relative;
  gap: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.massage_content_body-nav-list {
  display: none;
  position: absolute;
  color: #333;
  top: 44px;
  z-index: 10000;
  width: 180px;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 4px;
  animation: filterChat ease-in 0.3s;
  transform-origin: top right;
  will-change: opacity,transform;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
}

.massage_content_body-nav-list_item:hover {
  background-color: #f0f0f0;
}
.massage_content_body-nav-list_item {
  cursor: pointer;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  /* From Uiverse.io by nikk7007 */ 
.switch {
  --false: #E81B1B;
  --true: #009068;
 }
 
 input[type=checkbox] {
  appearance: none;
  height: 1.5rem;
  width: 3.0rem;
  background-color: #B7B7B7;
  position: relative;
  border-radius: 0.2em;
  cursor: pointer;
 }
 
 input[type=checkbox]::before {
  content: "";
  display: block;
  height: 1.5em;
  width: 1.5em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 1.05em;
  background-color: var(--false);
  border-radius: 0.2em;
  transition: 0.3s ease;
 }
 
 input[type=checkbox]:checked::before {
  background-color: var(--true);
  left: calc(100% - (1.9em/2 + .3em));
 }
}
.massage_content_body-nav h2 {
  cursor: pointer;
  font-family: Roboto, Droid Sans, Arial, sans-serif;
  margin-bottom: 0;
  color: #333;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 248px;
  font-weight: 500;
}
.massage_content_body-content {
  display: flex;
  flex-direction: column-reverse;
  direction: ltr;
  height: 350px;
  position: relative;
  width: 416px;
  will-change: transform;
  overflow: auto;
  outline: 0 none;
  background: #f3f3f3;
  border-top: 1px solid #eee;
}
.massage_content_body-content::-webkit-scrollbar {
  width: 6px; /* Chiều rộng của thanh cuộn dọc */
  height: 6px; /* Chiều cao của thanh cuộn ngang */
}
.massage_content_body-content::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Màu của phần tay cầm thanh cuộn */
  border-radius: 10px; /* Bo tròn các góc của thanh cuộn */
}
.massage_content_body-massage {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  /* From Uiverse.io by mobinkakei */ 
.wrapper {
  display: none;
  width: 52px;
  height: 60px;
  position: absolute;
  z-index: 1;
  top: -26px;
  left: 0;
}

.circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #990000;
  left: 4%;
  animation: circle7124 .5s alternate infinite ease-in-out;
}

@keyframes circle7124 {
  0% {
    top: 10px;
    border-radius: 50px 50px 25px 25px;
  }

  40% {
    // height: 5px;
    border-radius: 50%;
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 36%;
  animation-delay: .2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

}
.massage_content_body-massage-containt {
  position: relative;
  height: 40px;
}
.massage_content_body-massage-containt input {
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 15px;
}
.massage_content_body-massage-containt input:valid + .massage_content_body-massage-select_send {
  color: #217dff;
}
.massage_content_body-massage-containt button {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: -15px;
}
.massage_content_body-massage-select {
  display: flex;
  justify-content: space-between;
  // height: 115px
}
.massage_content_body-massage-select-icon {
  width: 50%;
}
.massage_content_body-massage-select_send {
  position: absolute;
  right: 6px;
  bottom: -14px;
  // font-size: 20px;
  // width: 20px;
  height: 20px;
}
.massage_content_body-content-time {
  font-size: 11px;
  color: #888;
  position: relative;
  bottom: -10px;
  right: -6px;
}
.massage_content_body-content-rep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0 14px;
  position: relative;
  z-index: 1;
}
.massage_content_body-content-rep li {
  padding: 2px 4px;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: #212121;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  direction: ltr;
  margin-top: 4px;
}
.massage_content_body-content-rep p {
  margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    padding: 6px 8px 8px;
}
.massage_content_body-content-rep-icon {
  height: 40px;
  position: absolute;
  z-index: -1;
  left: 1px;
  padding: 0px 2px;
  top: -11px;
  color: #fff;
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.1));
}
.massage_content_body-content-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0 14px;
  position: relative;
  z-index: 1;
}
.massage_content_body-content-user li {
  display: block;
  padding: 2px 4px;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: #212121;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #d7f7ef;
  direction: ltr;
  margin-top: 4px;
}
.massage_content_body-content-user p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  padding: 6px 8px 8px;
}
.massage_content_body-content-user-icon {
  height: 40px;
  position: absolute;
  z-index: -1;
  padding: 0px 2px;
  right: 1px;
  top: -11px;
  color: #d7f7ef;
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.1));
}
