@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.form-container {
    position: fixed;
    left: 43%;
    top: 6%;
    width: 460px;
    height: 609px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    font-size: 12px;
    z-index: 3;
    animation: headerNotify ease-in .3s;
}
@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.model_form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.model_form.open {
    display: block;
}
.button_create {
    display: flex;
    justify-content: right;
    transform: translateY(12px);
    margin-right: 40px;
}
  .title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
  }
  
  .sub-title {
    margin: 0;
    margin-bottom: 14px;
    font-size: 9px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
  }
  
  .input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 16px;
  }
  
  .form-btn {
    margin-top: 20px;
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .form-btn:active {
    box-shadow: none;
  }
  
  .sign-up-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
  }
  
  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
  }
  
  .apple-login-button,
      .google-login-button {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 11px;
    gap: 5px;
  }
  
  .apple-login-button {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
  }
  
  .google-login-button {
    border: 2px solid #747474;
  }
  
  .apple-icon,
      .google-icon {
    font-size: 18px;
    margin-bottom: 1px;
  }
  .formField {
    margin: 6px 1px;
    position: relative;
    border: none;
  }
  
  // .formField input {
  //   padding: 10px 15px;
  //   outline: none;
  //   border: none;
  //   border-radius: 5px;
  //   background-color: #f1f1f1;
  //   color: #333;
  //   font-size: 16px;
  //   font-weight: 550;
  //   transition: 0.3s ease-in-out;
  //   box-shadow: 0 0 0 5px transparent;
  // }
  
  .formField input:hover,
  .formField input:focus {
    box-shadow: 0 0 0 2px #333;
  }
  
  .formField .span_name {
    position: absolute;
    left: 0;
    top: 3px;
    padding: 8px 15px;
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1,
      1px 1px 0 #f1f1f1;
    transition: 0.3s ease-in-out;
    pointer-events: none;
  }
  
 .input:focus ~ .span_name, input:valid ~ .span_name{
    transform: translateY(-32px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
  }
  // Data Table
  #events {
    background-color: rgba(191, 191, 191, 0.15);
    padding: 20px;
    margin-top: 20px;
  }
  
  #events > div {
    padding-bottom: 5px;
  }
  
  #events > div::after {
    content: "";
    display: table;
    clear: both;
  }
  
  #events #clear {
    float: right;
  }
  
  #events .caption {
    float: left;
    font-weight: bold;
    font-size: 115%;
    line-height: 115%;
    padding-top: 7px;
  }
  
  #events ul {
    list-style: none;
    max-height: 100px;
    overflow: auto;
    margin: 0;
  }
  
  #events ul li {
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
  }
  
  #events ul li:last-child {
    border-bottom: none;
  }
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
    border: 1px solid #23bacd;
    border-radius: 15px;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text-createproduct {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 9px 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
   .card_showproduct {
    transform: translateX(12px);
    width: 88px;
    height: 55px;
    background: #07182E;
    border-radius: 5px;
    text-align: center;
    color: #f0f0f0;
    overflow: hidden;
    font-family: inherit;
    z-index: 1;
    margin: 0;
    background-position: center;
    background-size: cover;
  }
  
  .img {
    display: flex;
    margin: 7px auto 0px auto;
    width: 33px;
    height: 40px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color: transparent;
  }
  
  p {
    // opacity: 0;
    transition: all 0.5s;
  }
  
  .heading {
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  
  svg {
    padding-right: 0 5px;
  }
  
  .card:hover .img {
    transform: scale(1.1);
    border: 1px solid #f0f0f0;
  }
  
  .card:hover h1,
  .card:hover p {
    opacity: 1;
  }
  .input_Img::file-selector-button {
    background-color: transparent;
    color: transparent;
    border: none;
  }
.input_Img {
    margin: 0 34px 0 33px;
    z-index: 3;
    color: transparent;
    background-color: transparent;
    transform: translateY(-33px);
}
.formField input:hover, .formField input:focus {
    box-shadow: none;
}
.span_bar {
  position: relative;
  top: -51px;
  right: -110px;
  display: block;
  width: 179px;
 }
 
 .span_bar:before, .span_bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  top: 50px;
  background: teal;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .span_bar:before {
  left: 50%;
 }
 
 .span_bar:after {
  right: 50%;
 }
 
 .input:focus ~ .span_bar:before, .input:focus ~ .span_bar:after {
  width: 100%;
 }
 #gridContainer {
  max-height: 800px;
}

.options {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  position: relative;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.option {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.option-caption {
  white-space: nowrap;
  margin: 0 8px;
}
.filter_content {
  width: 20%;
  margin-left: 30px;
}
#data-grid-demo {
  min-height: 700px;
}
// Notifice
.notifications {
  display: none;
	position: fixed;
	top: 30px;
	right: -40px;
  z-index: 5;
}
.notifications.open {
  display: block;
}
.toast{
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  width: 360px;
  height: 86px;
  display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image: linear-gradient(to right, #0abf3055, #22242F 30%);
    animation: show_toast 0.3s ease forwards;
}
.icon_Check_Notifice{
    margin: auto;
    color: var(--color);
}
.toast .title_notifice{
    font-size: x-large;
    font-weight: bold;
}
.title_notifice {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 3px 0;
}
.icon_Check_Notifice{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.toast span,
.toast .close{
    opacity: 0.6;
    color: #fff
}

@keyframes show_toast {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-5%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-10%);
	}
}
.toast::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    box-shadow: 0 0 10px var(--color);
    content: '';
    width: 100%;
    height: 3px;
    animation: timeOut 3s linear 1 forwards;
}
@keyframes timeOut{
    to{
        width: 0%;  
    }
}
/* error */
.toast.error{
   --color: #f24d4c;
   background-image: linear-gradient(to right, #f24d4c55, #22242F 30%);
}
/* warning */
.toast.warning{
    --color: #e9bd0c;
    background-image: linear-gradient(to right, #e9bd0c55, #22242F 30%);
}
/* info */
.toast.info{
    --color: #3498db;
    background-image: linear-gradient(to right, #3498db55, #22242F 30%);
}