.Purchase_content {
    font-family: sans-serif;
    width: 100%;
}
.Purchase_content_header {
    font-size: .9vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3.5vw;
    background-color: #fff;
    border-bottom: .1vw solid rgba(0, 0, 0, 0.09);
    margin: 0;
    padding-left: 0;

}
.Purchase_content_header li {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgba(0, 0, 0, .8);
}

.Purchase_content_header_noti {
    position: absolute;
    top: .6vw;
    color: #fff;
    right: -.8vw;
    text-align: center;
    font-size: .6vw;
    border-radius: 50%;
    width: .9vw;
    height: .9vw;
    background-color: #990009;
}
.Purchase_content_header .active {
    color: #990009;
    border-bottom: 1px solid #990009;
}
.Purchase_content_header li:hover {
    color: #990009;
}
.Purchase_content_body {
    margin-top: 1vw;
    width: 100%;
}
.Purchase_content_body_container {
    width: 100%;
    background-color: #fff;
    border-bottom: .1vw solid rgba(0, 0, 0, 0.09);
    border-radius: 0 0 .2vw .2vw;
}
.Purchase_content_body_container_header {
    display: flex;
    padding: 0 1vw;
    justify-content: flex-end;
    width: 100%;
    height: 3vw;
    border-bottom: .1vw solid rgba(0, 0, 0, 0.09);
}
.Purchase_content_body_container_header-item {
    display: flex;
    align-items: center;
    // width:40%;
    display: flex;
}
.Purchase_content_body_container_header-item_status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9vw;
    color: #26aa99;
    width: 10vw;
}
.Bill_null_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #fff;
}
.Bill_null_content {
    width: 100%;
    height: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Bill_null_content img {
    margin-bottom: 1vw;
    width: 10vw;
}
.Bill_null_content h2 {
    padding-left: .2vw;
    padding-left: 0.2vw;
    font-size: 1.5vw;
    margin: 0;
}
.Purchase_content_body_container_header-item_comment {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding-left: .5vw;
    font-size: .8vw;
    color: #555;
    border-left: .1vw solid rgba(0, 0, 0, 0.09);
    text-decoration: none;

}
.Purchase_content_body_container_header-item_comment:hover {
    text-decoration: none;
}
.Purchase_content_body_container_body {
    display: flex;
    padding: .8vw;
    width: 100%;
    border-bottom: .1vw solid rgba(0, 0, 0, .09);

}
.Purchase_content_body_container_body-left {
    display: flex;
    align-items: center;
    width: 90%;
}
.Purchase_content_body_container_body-right {
    width: 10%;
}
.Purchase_content_body_container_body-left-img {
    width: 18%;
}
.Purchase_content_body_container_body-left-content {
    width: 82%;
}
.Purchase_content_body_container_body-left-content h3 {
    overflow: hidden;
    margin: .3vw;
    font-size: 1.2vw;
    font-weight: 100;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Purchase_content_body_container_body-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Purchase_content_body_container_body-right h3 {
    font-size: 1vw;
    color: #990009;
    margin: 0;
}
.Purchase_content_body_footer {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 7vw;
    background-color: #fffefb;
    border-bottom: .1vw solid rgba(0, 0, 0, 0.09);
    
}
.Purchase_content_body_footer-totalpay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50%;
    padding: 0 1vw;
}
.Purchase_content_body_footer-totalpay_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24%;
}
.Purchase_content_body_footer-button {
    height: 50%;
    display: flex;
    align-items: center;
}
.Purchase_content_body_footer-totalpay_container-text{
    display: flex;
    align-items: center;
    h3 {
        margin: 0;
    }
}
.Purchase_content_body_footer-totalpay_container-price h2 {
    color: #990009;
    font-size: 1vw;
    margin: 0;
}
.Purchase_content_body_footer-button-left {
    width: 50%;
}
.Purchase_content_body_footer-button-left h3{
    font-size: .8vw;
    color: rgba(0, 0, 0, .54);
    padding-left: 1vw;
    margin: 0;
}
.Purchase_content_body_footer-button-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.Purchase_content_body_footer-button-right button, .replay {
    margin-left: 1vw;
    border-radius: .3vw;
    font-size: .7vw;
    padding: .6vw 1vw;
    background-color: rgba(0, 0, 0, 0.02);
    border: .1vw solid rgba(0, 0, 0, 0.09);
    color: #555;
}
.Purchase_content_body_footer-button-right .active {
    background-color: #990009;
    color: #fff;
}
.Purchase_content_body_footer-totalpay_status {
    font-size: 13px;
    font-weight: 600;
}
