
  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
.mySwiper {
    z-index: 0;
    height: 100%;
    width: 100%;

}
.slide_swiper-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    // object-fit: cover;
}

/* Thay đổi màu sắc của tất cả các bullet */
.swiper-pagination-bullet {
    background-color: rgb(74, 0, 0);
 /* Thay #000000 bằng màu bạn muốn */
}
