@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@keyframes growth{
  from{
      transform: scale(var(--growth-from));
  }
  to{
      transform: scale(var(--growth-to));
  }
}
.content{
    font-family: monospace;
}
.modal_form {
  display: none;
}
.modal_form_open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 104;
}
@keyframes growth1{
  from{
      transform: translateX(0);
  }
  to{
      transform: translateX(-100px);
  }
}
.products_off_card {
  font-size: 12px;
  color: #fff;
}
.modal_form_container {
  position: absolute;
  top: 20px;
  z-index: 103;
  --growth-from:0.7;
  --growth-to:1;
  animation: growth linear 0.2s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
/* Body */
.container {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  gap: 0px;
  transition: transform .5s ease-in-out;
}
.container_open{
  transition: transform .5s ease-in-out;

}
hr {
  height: 1px;
  background-color: rgba(16, 86, 82, .75);
  ;
  border: none;
}

.card {
  width: 400px;
  background: rgb(255, 250, 235);
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgba(16, 86, 82, .75);
  ;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.card_cart {
  border-radius: 19px 19px 0px 0px;
  width: 400px;
  background: rgb(255 253 247);
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.card_checkout {
  
  border-radius: 19px 19px 0px 0px;
  height: 56px;
  button {
    font-size: 1.4em;
    padding: 0.6em 1em;
    border-radius: 0.5em;
    border: none;
    background-color: #990000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
  }
  
  .container {
    z-index: 10;
    position: relative;
    padding: 3px;
    // background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
  }
  .container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
  }
  
  .container:hover::before {
    background: linear-gradient(90deg, #b50000, #cc00f5);
    filter: blur(1.2em);
  }
  .container:active::before {
    filter: blur(0.2em);
  }
  
}
/* Cart */
.card_cart .steps {
  padding: 15px 20px 6px 20px;
  display: flex;
  flex-direction: column;
}
.Info_user {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.Info_user h3{
  color: #4080ee;
  cursor: pointer;
  padding-left: 20px;
}
.card_cart .steps .step {
  display: grid;
}
.input-style {
  margin-bottom: 4px;
  padding: 2px 4px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  color: #555;
  outline: none;
}
.edit_infouser_container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.step-item {
  position: relative; 
}
.edit_infouser_container_save {
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: -20px;
}
.edit_infouser_container_address {
  display: flex;
  width: 360px;
  justify-content: space-between;
}
.edit_infouser_container_address select {
  width: 120px;
  font-size: 11px;
  height: 30px;
  padding: 4px 4px;
}
.input-style:focus {
  border-color: #000000;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card_cart .steps .step span {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  display: block;
}

.card_cart .steps .step p {
  font-size: 12px;
  color: #000000;
  margin-bottom: 4px;
}

/* Promo */
.promo form {
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  padding: 0px;
}

.input_field {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid  rgb(16, 86, 82);
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}

.promo form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 36px;
  background: rgba(16, 86, 82, .75);
  box-shadow: 0px 0.5px 0.5px #F3D2C9, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/* Checkout */
.payments .details {
  display: grid;
  grid-template-columns: 10fr 1fr;
  padding: 0px;
  gap: 5px;
}

.payments .details span:nth-child(odd) {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  margin: auto auto auto 0;
}

.payments .details span:nth-child(even) {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin: auto 0 auto auto;
}

.card_checkout .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  // background-color: rgba(16, 86, 82, .5);
  background-image: linear-gradient(to right, #2B2F3A, #0D0E12);
  width: 400px;
}


.price {
  position: relative;
  font-size: 22px;
  color: #fff;
  font-weight: 900;
  z-index: 101;
}

 .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: rgba(16, 86, 82, .55);
  box-shadow: 0px 0.5px 0.5px rgba(16, 86, 82, .75), 0px 1px 0.5px rgba(16, 86, 82, .75);
  border-radius: 7px;
  border: 1px solid rgb(16, 86, 82);
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
}
.navbar_container{
    position: relative;
    width: 100%;
    background-image: linear-gradient(to right, #2B2F3A, #0D0E12);
    z-index: 100;
    height: 36px;
}
.navbar_container .navbar_content_list{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
}
.navbar_container li{
    cursor: pointer;
    font-size: 12px;
    padding: 5px 40px;
    color: #fff;
}
.header_navbar-item {
    margin: 0 8px;
    position: relative;
}
.header_navbar_container {
    position: absolute;
    right: 0;
    height: 100%;
    width: 30%;
}
.header_navbar_content {
    width: 60%;
    height: 100%;
    background-color: #3498db;
}
.header_navbar-list > li > a {
    // color: #000;
    color: #f1683a;
    transition: background-color 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.header_navbar-list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 0;
  }
  .header_navbar-item {
    margin: 0 8px;
    position: relative;
  }
  .header_navbar-item--left{
    margin: 0 8px;
    position: relative;
  }
  .header_navbar-item--left::after{
    content:"";
    display:block;
    position: absolute;
    border-left: 2px solid #FB9086;
    height: 14px;
    right:-9px;
    top:50%;
    transform: translateY(-50%);
  }
  .header_navbar-item:hover .header_qr {
    display: block;
  }
  .header_navbar-item a {
    font-weight: 600;
    font-size: 1.6rem;
    color: #333;
  }
  .header_navbar-user{
    display: flex;
    align-items: center;
  }
  .header_navbar-user-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    object-fit: cover;
  }
  .header_navbar-user-name{
    margin-left:10px;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .header_navbar-user-name-item {
    transition: background-color 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    align-items: center;
    padding-left: 4px;
    font-weight: 500 !important;
  }
  .header_navbar-user-name-item.darkmode {
    color: #fff !important;
  }
  .header_navbar-user-name:hover .header_navbar-user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_navbar-user-menu{
    position: absolute;
    padding: 8px 0;
    top: calc(100% - -21px);
    right: 27px;
    border-radius: 3px;
    background-color: var(--white-color);
    width: 100%;
    list-style: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 15;
  }
  .header_navbar-user-name:hover .header_navbar-user-menu{
    display:block;
  }
  .header_navbar-user-item {
    display: flex;
  }
  .header_navbar-user-item span,.header_navbar-user-item a{
    color: var(--text-color);
    font-size: 1.5rem;
    padding:6px 16px;
    display: block;
    font-weight: 500;
    width: 100%;
  }
  .header_navbar-user-item a:hover{
    text-decoration: none;
  }
  .header_navbar-user-item:hover{
    background-color: #b6b6b6;
  }
  .header_navbar-user-menu::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 24px 16px;
    border-color: transparent transparent #fff transparent;
    right: 11.5px;
    top: -40px;
  }
  .header_navbar-user-menu::after{
    content:"";
    display:block;
    position: absolute;
    top: -24px;
    right:0;
    width: 179px;
    height: 30px;
  }
  .header_navbar-item,
  .header_navbar-item-link,
  .header_navbar-icon-link{
    display:inline-block;
    font-size: 1.4rem;
    color:var(--white-color);
    text-decoration: none;
    font-weight: 400;
  }
  .header_navbar-item,
  .header_navbar-item-link,
  .header_navbar-icon-link{
    display:flex;
    align-items: center;
  }
  .header_navbar-item:hover,
  .header_navbar-item-link:hover,
  .header_navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
  .header_navbar-item--strong{
    font-weight: 500;
  }
  .header_navbar-item--separate::after{
    content:"";
    display:block;
    position: absolute;
    border-left: 2px solid #FB9086;
    height: 14px;
    right:-9px;
    top:50%;
    transform: translateY(-50%);
  }
  .header_navbar-icon-link{
    color:var(--black-color);
    text-decoration: none;
    margin-left: 6px;
  }
  .header_navbar-icon{
    font-size: 1.8rem;
  }
  .header_navbar-item:hover .header_navbar-user-menu {
    display: block;
  }
  .header_navbar-tile--no-pointer{
    cursor:text;
    color:var(--black-color);
    font-weight: 500 !important;
    font-size: 1.5rem !important;
  }
  .header_navbar-tile--no-pointer:hover{
    cursor: pointer;
    text-decoration: none;
  }
  
  .header_navbar-tile--no-pointer p {
    font-weight: 600;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
  }
  .header_navbar-item-hover:hover .header_notify {
    display: block;
  }
  .header_navbar-item--left_item {
    color: #000 !important;
  }
  .header_navbar-item-has-noti:hover .header_notify{
    display:block;
  
  }
.navbar_container li.active, .navbar_container li:hover{
    border-bottom: 2px solid #fff;
}
.navbar_container::before{
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: #990000;
}
.body_card {
    width: 100%;
    background-color: #f5f5f5;
}
.header_body_card {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}
.header_body_card-grid {
    width: 100%;
    padding: 0 120px;
    height: 100%;
    display: flex;
}
.header_body_card-left {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.header_body_card-lef_content {
    display: flex;
    width: 50%;
    height: 70%;
}
.header_body_card-left_item {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.header_body_card-left_item h1 {
    border-left: 0.0625rem solid #0D0E12;
    color: #0D0E12;
    font-size: 20px;
    height: 3rem;
    font-weight: 200;
    line-height: 3rem;
    margin-bottom: 0.0625rem;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    text-transform: capitalize;
}
.edit_infouser_container_name {
  margin-bottom: 4px;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  display: flex;
  align-items: center;
  span {
    
  }
}
.edit_infouser_container_name_edit {
  cursor: pointer;
  font-size: 12px !important;
  margin: 0px !important;
  padding-left: 10px;
  color: #4080ee !important;
}
.header_body_card-left_item img {
    width: 100%;
    object-fit: cover;
}
.header_body_card-right {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.header_body_card-right_content {
    padding: 1px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 42%;
    background-color: #990000;
}
.body_card_content {
    padding: 0 100px;
    width: 100%;
}
.header_body-card-right_input {
    position: relative;
    margin-left: 1px;
    width: 86%;
    height: 96%;
    background-color: #fff;
}
.header_body-card-right_input input {
    padding: 4px 10px;
    font-size: 14px;
}
// .header_body_card-right_content input {
//     width: 100%;
//     height: 100%;
// }
.search_load_card {
    display: none;
}
.search_load_card_open {
    display: block;
    animation: rotateLoading 1s ease-in-out infinite;
}
@keyframes rotateLoading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.body_card_content_head {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    margin-top: 20px;
    width: 100%;
    height: 50px;
}
.body_card_content-table {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.body_card_content_container {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 560px;
}
.body_card_content_container-item-product {
    overflow-y: auto;
    scrollbar-width: thin;
    width: 62%;
    height: 100%;
}
.body_card_content_container-item-product_header-left {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}
.body_card_content_container-item-product_header-left h2 {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
}
.body_card_content_container-item-product_header-left-checkbox {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #950000;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cyberpunk-checkbox:before {
    content: "";
    background-color: #000000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .cyberpunk-checkbox-label {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }
}
.body_card_content_container-item-product_header-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.body_card_content_container-item-product_header-right h2 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
}
.body_card_content_container-item-product_header {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin-bottom: 28px;
    position: sticky;
    top: 0px;
    z-index: 10;
    scroll-behavior: smooth;
    // box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.body_card_content_container-item-product_body {
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 12px;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}
.body_card_content_container-item-product_body_unative {
    display: none;
}
.body_card_content_container-item-product_body-name {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-right: 24px;
    span {
      font-size: 16px !important;
      margin-bottom: 0px;
      width: 80%;
    }
}
.body_card_content_container-item-product_body-name-checkbox {
    display: flex;
    justify-content: center;
    .cyberpunk-checkbox {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #950000;
        border-radius: 5px;
        background-color: transparent;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        cursor: pointer;
      }
      
      .cyberpunk-checkbox:before {
        content: "";
        background-color: #000000;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 10px;
        height: 10px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      .cyberpunk-checkbox:checked:before {
        transform: translate(-50%, -50%) scale(1);
      }
      
      .cyberpunk-checkbox-label {
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
      }
    width: 20%;
}
.body_card_content_container-item-product_body-sl-price-img {
    display: flex;
    width: 60%;
    height: 100%;
}
.body_card_content_container-item-product_body-sl-price-img span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 30%;
    height: 100%;
}
.body_card_content_container-item-product_body-sl-price-img-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.body_card_content_container-item-product_body-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.body_card_content_container-item-checkout {
    width: 38%;
    height: 100%;
}
.header_body_card-right_icon {
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.Suggest_container {
    width: 100%;
}
.Suggest_container h2 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
    font-size: 2rem;
    font-weight: 500;
    margin-top: 26px;
}
.Suggest_content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
.Suggest_content-item {
    width: 200px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
    .card {
      --bg-card: #27272a;
      --primary: #6d28d9;
      --primary-800: #4c1d95;
      --primary-shadow: #2e1065;
      --light: #d9d9d9;
      --zinc-800: #18181b;
      --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      padding: 1rem;
      width: 96%;
      height: 98%;
      background-color: var(--bg-card);
      border-radius: 1rem;
    }
    .card::before {
      content: attr(title);
      position: absolute;
      z-index: 100;
      top: 47px;
      left: -26px;
      width: 100%;
      height: 31px;
      background-image: linear-gradient(45deg, #ff0000 0%, #4e0006 51%, #ff0000 100%);
      transform: rotate(-45deg) translateY(-20px);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
    }
    .favorite {
      position: absolute;
      right: 2px;
      top: 4px;
    }
    .image_container {
      // overflow: hidden;
      cursor: pointer;
      position: relative;
      z-index: 5;
      width: 100%;
      height: 9.5rem;
      background-color: #e2e2e2;
      border-radius: 0.5rem;
      border-top-right-radius: 3.5rem;
    }
    
    .image_container .image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3rem;
      fill: #d9d9d9;
    }
    
    .title_card {
      overflow: clip;
      width: 100%;
      height: 4.7rem;
      font-size: 1.7rem;
      font-weight: 600;
      color: #d9d9d9;
      text-transform: capitalize;
      text-wrap: wrap;
      text-overflow: ellipsis;
    }
    .title_card span {
      overflow-wrap: break-word;
    }
    .size {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.25rem;
      color: #d9d9d9;
      padding-right: 2px;
    }
    
    .list-size {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    
      margin-top: 0.25rem;
    }
    
    .list-size .item-list {
      list-style: none;
    }
    
    .list-size .item-list-button {
      cursor: pointer;
    
      padding: 0.5rem;
      background-color: var(--zinc-800);
    
      font-size: 0.75rem;
      color: var(--light);
    
      border: 2px solid var(--zinc-800);
      border-radius: 0.25rem;
    
      transition: all 0.3s ease-in-out;
    }
    
    .item-list-button:hover {
      border: 2px solid var(--light);
    }
    .item-list-button:focus {
      background-color: var(--primary);
    
      border: 2px solid var(--primary-shadow);
    
      box-shadow: inset 0px 1px 4px var(--primary-shadow);
    }
    
    .action {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    .checkbox-wrapper-33 {
      position: absolute;
      bottom: 0;
      // display: none;
      --s-xsmall: 0.625em;
      --s-small: 1.2em;
      --border-width: 1px;
      --c-primary: #690000;
      --c-primary-20-percent-opacity: rgba(167, 0, 0, 0.2);
      --c-primary-10-percent-opacity: rgba(182, 0, 0, 0.282);
      --t-base: 0.4s;
      --t-fast: 0.2s;
      --e-in: ease-in;
      --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
    }

    .checkbox-wrapper-33 .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

.checkbox-wrapper-33 .checkbox {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 2em;
  height: 2em;
  transition: box-shadow var(--t-base) var(--e-out),
    background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 1.25em;
  height: 1.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1.3em;
  height: 1.3em;
  margin: auto;
  color: #fff;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  // color: var(--c-primary);
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}
.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s .5s var(--e-out);
  animation: ripple-33 1.5s .5s var(--e-out);
  font-size: 22px;
}
.checkbox__trigger:checked + .checkbox + .cart-button {
  width: 100px; /* Chiều rộng khi được chọn */
}
.checkbox-wrapper-33
  .checkbox__trigger:checked
  + .checkbox__symbol
  .icon-checkbox
  path {
  transition: stroke-dashoffset var(--t-base) .7s var(--e-out);
  stroke-dashoffset: 0px;
}
.checkbox-wrapper-33
  .checkbox__trigger:checked {
    opacity: 0;
  }
.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.4em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}


    }
    
    .price {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--light);
    }
    
    .cart-button {
      z-index: 2;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      border-radius: 16px 16px 0px 0px;
      padding: 0.5rem;
      width: 100%;
      background-color: #690000;
      font-size: 12px;
      font-weight: 500;
      color: var(--light);
      text-wrap: nowrap;
      // border: 2px solid hsla(262, 83%, 58%, 0.5);
      // border-radius: 0.5rem;
      box-shadow: inset 0 0 0.25rem 1px var(--light);
      transition: width .5s ease-in-out;
      span {
      transition: opacity .5s ease-in-out;
    }
    }
   
    .cart-button .cart-icon {
      width: 1rem;
    }
}
.edit_infouser_container_edit_address {
  border: 1px solid #950000;
  width: 100%;
  height: 20px;
}
@keyframes headerNotifyAni{
  from{
      transform: scale(0);
      opacity: 0;
  }
  to{
      transform: scale(1);
      opacity: 1;
  }
}
.button_save_info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    font-size: 12px;
    color: #4080ee;
  }
}
.address_content {
  display: flex;
  align-items: center;
  h4 {
    margin: 0;
  }
}
.modal_map_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  width: 400px;
  height: 500px;
  background-color: #fff;
  animation: headerNotifyAni .5s ease-in-out;
}
.check_voucher_container {
  display: flex;
  margin-top: 4px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
/* From Uiverse.io by CristianMontoya98 */ 
.btn_check {
  width: 23%;
  height: 30px;
  background: black;
  color: white;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  /* border-radius: 0.625em; */
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 .btn_check:hover {
  color: black;
 }
 .btn_check:active {
  transform: translate(6px,6px);
 }
 
 .btn_check:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 .btn_check:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
.check_voucher_input {
  font-size: 11px;
  width: 75%;
  padding: 6px;
  height: 30px;
  border: 1px solid #333;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.note_card{
  padding: 8px;
  font-size: 12px;
  width: 450px;
  height: 34px;
}
.input_field_note {
  font-size: 12px;
  height: 50px;
  padding: 8px;
}
.pay_method_container {
  width: 100%;
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  .pay_method_item {
    cursor: pointer;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 4px;
    .pay_method_item_logo {
      width: 80px;
      object-fit: cover;
    }
  }
  input {
    display: none;
  }
  .pay_method_item_check:checked + label{
    box-shadow: 0 0 5px 3px rgba(0, 190, 70, 0.6); /* Hiệu ứng box-shadow */
  }
  .pay_method_item_noti {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
}

.check_out_info_item {
  width: 100%;
  height: 16px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 13px !important;
    font-weight: 700 !important;
    color: #707175 !important;
  }
  p {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #47484b !important;
  }
}
/* From Uiverse.io by alexmaracinaru */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.btn_open_map {
  width: 100%;
 margin-top: 10px;
  /* From Uiverse.io by cssbuttons-io */ 
button {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-open {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 2.1;
  text-align: center;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-open {
  color: #fff !important;
 }
}
