
    .product_card-item_left_status {
        margin-top: 10px;
    }
    .product_card-item_left {
        display: flex;
        align-items: center;
        flex-grow: 20;
    }
    .Product_card-item_name {
        span {
            overflow: hidden;       
            text-overflow: ellipsis; 
        }
    }