.footer{
    width: 100%;
    padding-top: 26px;
    border-top: 4px solid var(--primary-color);
}
.footer_heading{
    font-size:13px;
    text-transform: uppercase;
    color:var(--text-color);
    font-weight: 700;
}
.footer_content {
    margin: 12px 0px !important;
    padding: 0 !important;
}
.footer_list{
    // display: flex;
    padding-left:0;
    list-style: none;
}
.footer_item-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color:#666;
    padding:5px 0;
    display:block;
    align-items: center;
    display:flex;
}
.footer_item-link:hover{
    color:var(--primary-color);
}
.footer_item-icon{
    font-size:1.8rem;
    position: relative;
    margin-right: 6px;
    margin-top: -1px;
}
.footer_download{
    display:flex;
}
.footer_dowload-qr{
    width: 80px;
    object-fit: contain;
}
.footer_download-apps{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:16px;
}
.footer_download-apps-img{
    width: 100%;
}
.footer_bottom{
    background-color: #F5F5F5;
    text-align: center;
    padding:24px 0;
    border-top: 4px solid var(--primary-color);
}
.footer_text{
    opacity: 1;
    font-size: 1.2rem;
    font-weight: 500;
    color:var(--text-color);
}